@import "tailwindcss";

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
  --font-primary: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-pacifico {
  font-family: "Pacifico", cursive;
}
.font-manrope{
  font-family: "Manrope",sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}
html, body {
  overflow-x: hidden;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}
@keyframes reviewSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-reviewSlide {
  animation: reviewSlide 0.45s ease-out forwards;
}

@keyframes reviewFade {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-reviewFade {
  animation: reviewFade 0.5s ease-out;
}
