@import "tailwindcss";

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
  --font-primary: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-pacifico {
  font-family: "Pacifico", cursive;
}
.font-manrope{
  font-family: "Manrope",sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}
